.flex {
    display: flex;
    flex-direction: row;
}

.shareToWeb {
    align-items: center;
    justify-content: space-between;
    padding: 16px 12px;
    border-bottom: 1px solid #E5E7EB;
}

.header {
    gap: 0px 16px;
}

.titleWrapper {
    align-items: flex-start;
    flex-direction: column;
}