.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;
    position: absolute;
    width: 95px;
    height: 36px;
    left: 124px;
    top: 124px;
    background: #111827;
    border-radius: 4px;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}